.grid-sizer, .grid-item {
    width: 25%;
    margin-bottom: 24px;
}

.grid-item img {
    max-width: calc(100% - 36px);
    max-height: calc(100% - 36px);
    cursor: pointer;
    filter: brightness(100%);
    transition: 1s;
}

.grid-item img:hover {
    filter: brightness(60%);
    transition: 1s;
}

.chevron {
    border-radius: 64px;
    transition: 0.25s;
}

.chevron:hover {
    background-color: #f4f3f7;
    transition: 0.25s;
}

grid {
    margin: auto;
    width: 100%;
}

@font-face {
    font-family: "Didot eText W01 Italic";
    src: url("http://localhost:3000/fonts/16efa2896f117dae2debeb23ab4715dd.eot"); /* IE9*/
    src: url("http://localhost:3000/fonts/16efa2896f117dae2debeb23ab4715dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("http://localhost:3000/fonts/16efa2896f117dae2debeb23ab4715dd.woff2") format("woff2"), /* chrome、firefox */ url("http://localhost:3000/fonts/16efa2896f117dae2debeb23ab4715dd.woff") format("woff"), /* chrome、firefox */ url("http://localhost:3000/fonts/16efa2896f117dae2debeb23ab4715dd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("http://localhost:3000/fonts/16efa2896f117dae2debeb23ab4715dd.svg#Didot eText W01 Italic") format("svg"); /* iOS 4.1- */
}